<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    .content {
        flex-grow: 1;
    }

    .f-info {
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: center;
    }

    footer {
        background-color: #222;
        padding: 10px 0;
        color: aliceblue;
    }

    .f-info-social a {
        font-size: 20px;
        margin: 0 10px;
    }

    .f-info-links a {
        margin-right: 10px;
    }
</style>

<body>
    

    <footer>
        <div class="f-info">
            <div class="f-info-social" style="text-align: center; margin-bottom: 5px;">
                <a href="https://github.com/swaraj017"><i class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/swaraj-gaikwad-690598265/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/swaraj1876?igsh=NTc4MTIwNjQ2YQ=="><i class="fa-brands fa-square-instagram"></i></a>
            </div>

            <div style="text-align: center; padding: 5px 0;">
                <h6 style="font-size: small; margin: 0;">@2024 Wander-Lust Private Limited</h6>
            </div>

            <div class="f-info-links" style="text-align: center; margin-top: 5px;">
                <a href="/privacy" style="margin-right: 10px;">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body>
