<% layout("/layuots/boilerplate.ejs") %>
 
 

<body>
    <div class="error-container">
        <div class="image-section">
            <img src="/images/Screenshot_10-10-2024_123830_www.business2community.com.jpeg" alt="Error Image" class="error-image">
        </div>
        <div class="message-section">
            <h1 class="error-title">Oops!</h1>
            <h2 class="error-message"><%= message %></h2>
            <a href="/listing" class="back-home">Go Back Home</a>
        </div>
    </div>
</body>
</html>


