<% layout("/layuots/boilerplate.ejs") %>

 
 <style>
 .button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
     
}

.newlisitngbutton { 
    width: 50%;
    padding: 15px;
    margin: 10px 0;
    background-image: linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-position 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


    
 </style>

<body>
  <div class="container">
    <h3 style="color: antiquewhite;">Create a New Listing</h3>
    <form method="POST" action="/https://calistaa.onrender.com/listing" novalidate class="listing-form needs-validation" enctype="multipart/form-data">

      <div class="mb-2">  
        <label for="listingTitle" class="form-label">Title</label>
        <input name="listing[title]" id="listingTitle" class="form-control form-control-sm" placeholder="Enter Title" type="text" required />
        <div class="invalid-feedback">
          Please provide a title.
        </div><div class="valid-feedback">Title looks good</div>
      </div>

      <div class="mb-2">
        <label for="listingDescription" class="form-label">Description</label>
        <textarea name="listing[description]" id="listingDescription" class="form-control form-control-sm" placeholder="Enter Description" required></textarea>
        <div class="invalid-feedback">
          Please provide a description.
        </div>
      </div>

      <div class="mb-1">
        <label for="listingImage" class="form-label">Upload Image</label>
        <input name="listing[image]" id="listing[image]" class="form-control form-control-sm" placeholder="Enter Image URL/Link" type="file" required />
        <div class="invalid-feedback">
          Please provide an image URL.
        </div>
      </div>

      <div class="mb-2">
        <label for="listingPrice" class="form-label">Price</label>
        <input name="listing[price]" id="listingPrice" class="form-control form-control-sm" placeholder="Enter Price" type="number" required />
        <div class="invalid-feedback">
          Please provide a valid price.
        </div>
      </div>

      <div class="mb-2">
        <label for="listingCountry" class="form-label">Country</label>
        <input name="listing[country]" id="listingCountry" class="form-control form-control-sm" placeholder="Enter Country" type="text" required />
        <div class="invalid-feedback">
          Please provide a country.
        </div>
      </div>

      <div class="mb-2">
        <label for="listingLocation" class="form-label">Location</label>
        <input name="listing[location]" id="listingLocation" class="form-control form-control-sm" placeholder="Enter Location" type="text" required />
        <div class="invalid-feedback">
          Please provide a location.
        </div>
      </div>
      <div class="button-container">
      <button class="newlisitngbutton" type="submit">Add Listing</button>
      </div>
    </form>
  </div>
</body>

